BasedOnStyle: LLVM
IndentWidth: 2
ColumnLimit: 120
PointerAlignment: Left
NamespaceIndentation: All
AlignAfterOpenBracket: BlockIndent
SortIncludes: CaseSensitive
IncludeBlocks: Regroup
IncludeCategories:
  - Regex: '^".*"'
    Priority: 1
  - Regex: '^<.*>'
    Priority: 2
